// Create a Leaflet map, with the initial center defined by the lat and lng variables and a zoom level of 13
var mymap = L.map('mapid').setView([{{ lat }}, {{ lng }}], 13);

// Define a function to create a Leaflet divIcon with a customized appearance
var iconTemplate = (color, strength, size) => L.divIcon({
    // CSS class of the icon
    className: 'custom-div-icon',
    // SVG markup for the icon, which is a colored circle
    html: `<svg xmlns='http://www.w3.org/2000/svg' width='${2 * (size + 2)}' height='${2 * (size + 2)}'><circle cx='${size + 2}' cy='${size + 2}' r='${size}' stroke='black' stroke-width='2' fill='${color}' fill-opacity='${strength}'/></svg>`,
    // Dimensions of the icon
    iconSize: [2 * (size + 2), 2 * (size + 2)],
    // Coordinates of the "tip" of the icon (where the marker touches the map)
    iconAnchor: [size + 2, size + 2]
});

// Array of blue icons with different opacities and sizes
var blueIcons = [
    iconTemplate('blue', 0.25, 5),
    iconTemplate('blue', 0.5, 7.5),
    iconTemplate('blue', 0.75, 10),
    iconTemplate('blue', 1, 15)
];

// Array of red icons with different opacities and sizes
var redIcons = [
    iconTemplate('red', 0.25, 5),
    iconTemplate('red', 0.5, 7.5),
    iconTemplate('red', 0.75, 10),
    iconTemplate('red', 1, 15)
];

// Load OpenStreetMap tiles into the map
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    // Attribution for the map data
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    // Maximum zoom level
    maxZoom: 18
}).addTo(mymap);

// Fetch data from a source and convert it to JSON
var data = {{ data|tojson }};

// Iterate over the data array
for (var i = 0; i < data.length; i++) {
    // Define the index for the icon array based on the number of species
    var iconIndex;
    if (data[i].numSpeciesAllTime < 50) {
        iconIndex = 0;
    } else if (data[i].numSpeciesAllTime < 100) {
        iconIndex = 1;
    } else if (data[i].numSpeciesAllTime < 200) {
        iconIndex = 2;
    } else {
        iconIndex = 3;
    }

    // Choose the appropriate icon based on the wikidata property
    var icon = data[i].wikidata ? blueIcons[iconIndex] : redIcons[iconIndex];

    // Create a marker at the given coordinates with the chosen icon, and add it to the map
    var marker = L.marker([data[i].lat, data[i].lng], { icon: icon }).addTo(mymap);

    var popupContent = "<b>" + data[i].locName + "</b><br>" + data[i].countryCode + "<br>All time species count: " + data[i].numSpeciesAllTime + "<br>locId: " + data[i].locId;

    if (data[i].wikidata) {
        popupContent += "<br><a href='" + data[i].wikidata + "' target='_blank'>View on Wikidata</a>";
    } else {
        var searchUrl = "https://www.wikidata.org/wiki/Special:Search?search=" + encodeURIComponent(data[i].locName);
        popupContent += "<br><a href='" + searchUrl + "' target='_blank'>Search on Wikidata</a>";
    }
    if (data[i].image) {
      var fileName = data[i].image.split("/").pop();
      var commonsLink = "https://commons.wikimedia.org/wiki/File:" + fileName;
      var imageSource = data[i].image
      popupContent += "<br><a href='" + commonsLink + "' target='_blank'><img src='" + imageSource + "' alt='Image' style='max-width: 100%; max-height: 200px;'></a>";
    }
    popupContent += "<br><a href=https://ebird.org/hotspot/" + data[i].locId + " target='_blank'>View on eBird</a>";

    marker.bindPopup(popupContent);
}

var legend = L.control({ position: 'bottomright' });

legend.onAdd = function (map) {
    var div = L.DomUtil.create('div', 'info legend');
    div.style.backgroundColor = 'white';
    div.style.padding = '10px';
    div.innerHTML = '<h4>#species</h4>';

    var grades = [0, 50, 100, 200];
    var strengths = [0.25, 0.5, 0.75, 1];
    var sizes = [5, 7.5, 10, 15];
    var colors = ['blue', 'red'];

for (var i = 0; i < grades.length; i++) {
    div.innerHTML += '<div style="display: flex; align-items: center; justify-content: center;">';
    for (var c = 0; c < colors.length; c++) {
        div.innerHTML +=
            `<svg xmlns='http://www.w3.org/2000/svg' width='${2 * (sizes[i] + 2)}' height='${2 * (sizes[i] + 2)}' style='margin-right: 5px;'>
                <circle cx='${sizes[i] + 2}' cy='${sizes[i] + 2}' r='${sizes[i]}' stroke='black' stroke-width='2' fill='${colors[c]}' fill-opacity='${strengths[i]}'/>
            </svg>`;
    }
    div.innerHTML += `<span>: ${grades[i]} ${(grades[i + 1] ? '&ndash;' + grades[i + 1] : '+')}</span></div>`;
}
return div;
};

legend.addTo(mymap);
