<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Select a city</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.min.js">
  </script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.css">
</head>

<body>
  <form action="/map" method="get">
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city"><br>
    <input type="hidden" id="lat" name="lat">
    <input type="hidden" id="lng" name="lng">
    <input type="submit" value="Submit">
  </form>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>